@tailwind base;
@tailwind components;
@tailwind utilities;

.parent:hover .child {
  display: block;
}

.child {
  z-index: 10;
  transition: all 0.5s ease-in-out 0.5s;
}

.headerLink:hover {
  color: #19b8f1;
}

.active {
  color: #19b8f1;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #1beef9;
}

.swiper-pagination-bullet {
  width: 20px;
  color: #20e0ed;
  height: 5px;
  border-radius: 0px;
}

.swiper-pagination {
  display: flex;
}

/* faq  */
.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
  color: #19b8f1;
}

.faqs .faq .faq-question::after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  color: gray;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: '-';
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
